#cont {

}

a {
	display:block;
}


.soft-frame {
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.skynet {
	display: inline-block;
	font-size: 21px;
	padding: 10px 20px;
	background-color: #ec8d8d;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.skynet:hover {
	background-color: #ff0000;
	transform: scale(2);
}

.skynet1 {
    display: inline-block;
    font-size: 21px;
    padding: 10px 20px;
    background-color: #b88dec;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skynet1:hover {
    background-color: #4104f5;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.skynet2 {
    display: inline-block;
    font-size: 21px;
    padding: 10px 20px;
    background-color: #48eef7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skynet2:hover {
    background-color: #00f2ff;
    animation: loopEffect 2s infinite;
}

@keyframes loopEffect {
    0%, 20% { transform: rotate(0deg); }
    25%, 45% { transform: rotate(360deg); }
    50%, 70% { transform: rotate(0deg); }
    75%, 95% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.skynet3 {
    display: inline-block;
    font-size: 21px;
    padding: 10px 20px;
    background-color: #ecde8d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skynet3:hover {
    background-color: #fff700;
    animation: bounceEffect 1s infinite;
}

@keyframes bounceEffect {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}