*, *::before, *::after {

    margin:0;                    
    box-sizing: border-box;
}

body {	

	overflow-x: hidden;	
	animation: changeBackground 10s infinite alternate;
}

#cont {
	
    position: absolute;
    left:50%;
    width: 61%;
    height: 100%;
    
	/* background-color: violet; */
}

#ai_cont {
	
	display:inline-block;
    position:relative;					
    width:min(70vw, 26rem);	
    height:fit-content;	
    margin-top: 10vw;
    transform: translate(-50%);
    
    /* background-color: red; */
}

#ai {
	
	display: block;
	position:relative;	    
	width:100%;
}

form {

	display:block;
	position:relative;
	width:100%;
	height:fit-content;

	/* background-color:blue; */
}

textarea {

    display:block;
    position: relative;
    width:90%;
    aspect-ratio: 7 / 1;
    margin:5vh 5%;    
    font-size:1rem;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    border: 1px solid rgb(168, 149, 149); 
    color:rgb(99, 87, 87);
    resize:none;
	overflow: hidden;						
}

textarea:focus {

	outline: none; 
	border: 1px solid lightgray;
}

textarea::placeholder {

	color: rgb(125, 121, 121);
	font-style: italic;
}

#button_cont {

    position: relative;
    left:50%;
    width:fit-content;
    transform:translatex(-50%);

	/* background-color:orange; */
}

button {

    padding:5px 7px;			
    border-radius: 4px;
}

#bubble_cont {  

	display:none;
	position: relative;
	top:8%;
	width:min(70vw, 27rem);
	aspect-ratio: 1 / 1; 
	vertical-align: top;
	transform: translateX(-50%);	

	/* background-color: green; */
}

#bubble, #result {

    position:absolute;
    margin-left: 12%;
    width: 100%;
    height:fit-content;
    font-size: min(max(.8rem, .8vw), 1rem);
	font-weight: bold;
    opacity:0;

    /* background-color: violet; */
}

#result {

    top:38%;
    left:50%;
    width:50%;  
    transform: translate(-50%, -50%);
    text-align: center;

    /* background-color: #ff6347; */
}

@keyframes changeBackground{

    0% {
		background-color: #132621;
    }
    50% {
		background-color: #1b7a5b; 
    }
    100% {
		background-color: #c7342f;
    }
}
