# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# macOS
.DS_Store/

# Makefile
.compiled
.compiled_debug

# VSCode files
.vscode/settings.json
.vscode/tasks.json

# Intra Testers
intra_binaries/ubuntu_tester
intra_binaries/ubuntu_cgi_tester

# Executables
webserv
tests/webtest
debug_webserv

# Logs
src/ResponseBuilder/error.log
src/kernel/error.log
error.log
access.log
*.log

# Tests Dan
docs_dan
tests/config/my_ip.txt
tests/siege/siege_urls.txt

# Uploads
testResponseBuilder/folder_to_delete/file_to_delete
Requests_Tester/no_read_file.txt
CGIScriptCreation/a.out
