.click-text {
	color: #e30202;
}

.soft-frame {
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-directory {
	display: inline-block;
	font-size: 18px;
	padding: 10px 20px;
	background-color: #c583f7;
	/* Green */
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	cursor: pointer;

}

.upload-directory:hover {
	background-color: #b602e3;
	transform: scale(1.6);
}

.homepage {
	display: inline-block;
	font-size: 21px;
	padding: 10px 20px;
	background-color: #8da6ec;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.homepage:hover {
	background-color: #0300b2;
	transform: scale(1.2) rotate(5deg);
}

#img_cont {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width:40vw;
	height:40vw;
}

img {
	width:100%;
	height:auto;
}

#redpill {
	position: absolute;
	top: 58.5%;
	left:21.5%;
	width:5.0%;
	height:auto;
}

#bluepill {
	position: absolute;
	top: 59.2%;
	left:73.3%;
	width:5.0%;
	height:auto;
}

#redpill:hover, #bluepill:hover {
	transform: scale(1.3);
}