.tabler--http-get {
	display: inline-block;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23f00' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 8H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h2v-4H6m8-4h-4v8h4m-4-4h2.5M17 8h4m-2 0v8'/%3E%3C/svg%3E");
  }
